html
  head
    title Tabla de resultados esperados VS resultados reales
    link(rel='stylesheet', href='/static/CSS/style.css')
  body
    h2(class='fuente') Tabla de resultados esperados VS resultados reales
    .flex-container
    - aux = information
    <table align="center">
        tr
          th test
          <th colspan="5"> Expected Values
          <th colspan='6'> Actual Values
        tr
          th
          th βₒ
          th β₁
          th rₓᵧ
          th r²
          th yₖ
          th βₒ
          th β₁
          th rₓᵧ
          th r²
          th yₖ
          th test Ingresado
        tr
          th test1
          td -22.55
          td  1.7279
          td  0.9545
          td  0.9111
          td  644.429
          if information[0]
            each info, index in information[0]
              td  #{info[0]}
            break
            th #{files[0].name}
        tr
          th test2
          td  -4.039
          td  0.1681
          td  0.9333
          td  0.8711
          td  60.858
          if information[1]
            each info, index in information[1]
              td   #{info[1]}
            break
            th #{files[1].name}
        tr
          th test3
          td  -23.92
          td  1.43097
          td  0.9631
          td  0.9276
          td  528.4294
          if information[2]
            each info, index in information[2]
              td   #{info[2]}
            break
            th #{files[2].name}
        tr
          th test4
          td  -4.604
          td  0.140164
          td  0.9480
          td  0.8988
          td  49.4994
          if information[3]
            each info, index in information[3]
              td   #{info[3]}
            break
            th #{files[3].name}
